@use "variables" as*;

/*Main contacto-------------------*/

.contacto-container {
    display: grid;
    width: 100%;
    grid-template-columns: 49% 49%;
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "contac-12 formulario"
        "imagen imagen";
    justify-items: center;
    align-items: center;



    .contac-t2 {
        display: grid;
        background-color: $amarillo;
        border-radius: 15px 60px;
        border: white 3px solid;
        margin: 20px;
        padding: 15px;
        width: 80%;
        justify-self: center;

        .titulo-contacto {
            display: grid;
            justify-content: center;
        }
    }


    .formulario-conten {
        grid-area: formulario;
        padding: 10px;
        background-color: $azulclaro;
        border-radius: 60px 15px;
        border: white 3px solid;
        width: 80%;
        height: 80%;

        input,
        textarea {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            justify-self: center;
            width: 60%;
            border-radius: 10px;
            border: white 1px solid;
            text-align: center;
        }

        label {
            display: flex;
            justify-content: center;
            font-size: 20px;
        }

        .boton-form {
            background-color: $azuloscuro;
            color: white;
            width: 30%;
            border: white 2px solid;
        }
    }

    .banderav {
        grid-area: imagen;
        padding: 5%;
        background-color: $rojo;
        border-radius: 15px 60px;
        border: white 3px solid;
    }

    .bandera-1 {
        width: 500px;
        height: 300px;
        border-radius: 60px 15px;
        border: white 3px solid;
    }

}